                                                           /* AUTHOR: SUBHOMOY GHOSH*/


/*---------------------------------------------------------------GLOBAL ALLOCATION-----------------------------------------------------------------------*/

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}







/*--------------------------------------------------------------CSS FOR INDEX (START)----------------------------------------------------------------------*/





/*-----------------------------------------------------------------BASIC HOMEPAGE-------------------------------------------------------------------------*/

html {
    
    background-color:antiquewhite;
    color: #626262;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px; 
    text-rendering: optimizeLegibility;
   
}


.row {
    
    max-width: 1140px;
    margin: 0 auto;
    
}


header {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Graphics/Trophy.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh; 
    
}


.hero-text-box {
    
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1 {
    
    margin-top: 0; 
    margin-bottom: 20px;
    color:floralwhite;
    font-size: 250%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 5px;
    
}




/*-------------------------------------------------------------------BUTTONS--------------------------------------------------------------------------*/

.btn:link,
.btn:visited {
    
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 150px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    
}


.btn-full:link,
.btn-full:visited {
    
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: floralwhite;
    margin-right: 15px;
    
}


.btn-ghost:link,
.btn-ghost:visited {
    
    border: 1px solid #e67e22;
    color: #e67e22;
    
}


.btn:hover,
.btn:active {
    
    background-color: #bf6516
        
}

.btn-full:hover,
.btn-full:active {
    
    border: 1px solid #e67e22;
    
}


.btn-ghost:hover,
.btn-ghost:active {
    
    border: 1px solid #e67e22;
    color:floralwhite; 
    
}




/*-----------------------------------------------------------------MAIN NAVIGATON BAR---------------------------------------------------------------------*/

.main-nav {
    
    float:right;
    list-style: none;
    margin-top: 50px;
    
}


.main-nav li {
    
    display: inline-block;
    margin-left: 30px;
    
}


.main-nav li a:link,
.main-nav li a:visited {
    
    padding: 10px 0;
    color:floralwhite;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    
}


.main-nav li a:hover,
.main-nav li a:active {
    
    border-bottom: 2px solid #e67e22;
    
}




/*--------------------------------------------------------------------STICKY NAVIGATON BAR--------------------------------------------------------------*/

.sticky {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98); 
    box-shadow: 0 2px 2px #efefef;
    z-index: 999;
    
}


.sticky .main-nav {
    
    margin-top: 17px;

}



.sticky .main-nav li a:visited {
    
    padding: 15px 0;
    color: #555;
    
 }




/*-----------------------------------------------------------------MORE ABOUT US---------------------------------------------------------------------------*/

section {
    
     padding: 50px 0;
    
}


h2 {
    
    margin-bottom: 20px;
    font-size: 175%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: center;
    
}


h2:after {
    
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    
}


.long-copy {
    
    line-height: 140%;
    width: 70%;
    margin-left: 15%; 
    
}


.box {
    
    padding: 2%;
    
}


.box p {
    
    font-size: 90%;
    line-height: 145%; 
    
}


h3 {
    
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 125%;
    margin-bottom: 17px;
    
}


.icon-big {
    
    font-size: 375%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
        
}




/*------------------------------------------------------------------------BUY TICKETS------------------------------------------------------------------*/

.section-ticket {
    
    background-color:bisque;
    
}


.ticket-box {
    background-color:blanchedalmond;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #dddbd9;
    
}


.ticket-box div {
    
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
    
}


.ticket-box div:first-child {
    
    background-color: #f2dcc9;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}


.ticket-box div:last-child {
    
    text-align: center;
    border: 0;
}


.ticket-price {
    
    font-size: 235%;
    margin-bottom: 10px;
    color: #e67e22;
      
}


.ticket-price span {
    
    font-size: 50%;
    
}


.ticket-location {
    
    font-size: 100%;
}


.ticket-box ul {
    
    list-style: none;

}


.ticket-box ul li {
    
    padding: 5px 0;
    
}





/*----------------------------------------------------------------CSS FOR INDEX (END)----------------------------------------------------------------------*/










/*------------------------------------------------------------CSS FOR HISTORY (START)----------------------------------------------------------------------*/





/*------------------------------------------------------------------BACKGROUND SECTION------------------------------------------------------------------*/
.history {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Graphics/History.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}


.history-box:first-child {
    
    margin-top: 30px;
    text-align: right;
    padding-right: 3%;
    
}


.history-box:last-child {
    
    margin-top: 50px;
    padding-left: 3%;
    
}


.history-image {
    
    width: 75%;
    
}


.history-point {
    
    margin-bottom: 50px;
    
}


.history-point div {
    
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
    
}




/*------------------------------------------------------------------FOUNDATION SECTION------------------------------------------------------------------*/

.section-foundation {
    
    background-color:bisque;
}


.foundation-image {
    
    width: 100%;
    
}




/*----------------------------------------------------------------------EXPANSION SECTION------------------------------------------------------------------*/

.section-expansion {
    
    background-color:blanchedalmond;
}


.expansion-image {
    
    width: 115%;
    
}




/*--------------------------------------------------------------------TERMINATION SECTION------------------------------------------------------------------*/

.section-termination {
    
    background-color:beige;
}


.termination-image {
    
    width: 100%;
    
}




/*--------------------------------------------------------------------CONTROVERSY SECTION------------------------------------------------------------------*/

.section-controversy {
    
    background-color:bisque;
}


.controversy-image {
    
    width: 110%;
    
}



























